BasedOnStyle: Mozilla

AccessModifierOffset: 0
AlignAfterOpenBracket: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  AfterControlStatement: MultiLine
  AfterClass: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeLambdaBody: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  IndentBraces: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 4
NamespaceIndentation: Inner
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: true

